# === General ===
.DS_Store
*.log
.env
.env.local
!.env.example

# === Frontend (Angular) ===
node_modules/
dist/
.angular/
coverage/
.sass-cache/

# === Backend (Spring Boot / Gradle) ===
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

# === IDE ===
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/