.register-form-step {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* gap-4 */
}

/* The mat-form-field elements will get their styling from the global styles.scss */

/* The button will get its styling from the global styles.scss */